version: "3.8"

services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./python-server/src:/app/src

  node-server:
    build:
      context: ./express-server-js
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./express-server-js:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
    command: ["yarn", "start"]
